@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    background-color: var(--sde-color-bc);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sde-padding-s);
    background-color: var(--sde-color-pri);
    color: var(--sde-color-bc);
    flex-wrap: wrap;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: var(--sde-gap-s);
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.navbar-brand {
    font-size: var(--sde-font-l);
    color: var(--sde-color-bc);
    font-weight: 700;
}

.navbar-center,
.navbar-right {
    display: flex;
    gap: var(--sde-gap-m);
    list-style: none;
}

.navbar-center {
    justify-content: center;
    flex: 1;
}

.navbar-right {
    justify-content: flex-end;
}


.section {
    display: none;
    padding: 20px;
}

.section.active {
    display: block;
}

.form-container {
    background: var(--sde-color-white);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--sde-color-pri);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--sde-color-pri);
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

.footer {
    background-color: var(--sde-color-pri);
    color: var(--sde-color-bc);
    padding: var(--sde-padding-s);
    text-align: center;
    font-size: var(--sde-font-s);
    position: relative;
    bottom: 0;
    width: 100%;
}

.perfil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--sde-padding-m);
    background-color: var(--sde-color-white);
    border-radius: var(--sde-radius-primary);
  }
  
  .perfil-container h2 {
    font-size: var(--sde-font-xl);
    font-weight: bold;
    color: var(--sde-color-pri);
    margin-bottom: var(--sde-margin-m);
  }
  
  .perfil-container form {
    margin-top: var(--sde-margin-m);
  }
  
  .perfil-container form div {
    margin-bottom: var(--sde-margin-s);
  }
  
  .perfil-container label {
    display: block;
    margin-bottom: var(--sde-margin-xs);
    font-size: var(--sde-font-m);
    font-weight: bold;
    color: var(--sde-color-black);
  }
  
  .perfil-container input[type="text"],
  .perfil-container input[type="email"],
  .perfil-container input[type="file"] {
    width: 100%;
    padding: var(--sde-padding-s);
    font-size: var(--sde-font-m);
    border-radius: var(--sde-radius-buttons);
    border: 1px solid var(--sde-color-black);
    background-color: var(--sde-color-white);
    color: var(--sde-color-black);
  }
  
  .perfil-container button[type="submit"],
  #logoutBtn {
    background-color: var(--sde-color-sec);
    color: var(--sde-color-white);
    border: none;
    padding: var(--sde-padding-s) var(--sde-padding-m);
    margin-top: var(--sde-margin-m);
    cursor: pointer;
    border-radius: var(--sde-radius-buttons);
    font-size: var(--sde-font-m);
    transition: background-color 0.3s ease;
  }
  
  .perfil-container button[type="submit"]:hover,
  #logoutBtn:hover {
    background-color: var(--sde-color-pri);
  }
  
  #imagenPerfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: var(--sde-margin-s);
  }
  

@media (min-height: 600px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    .footer {
        margin-top: auto;
    }
}


