* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-align: center;
    font-size: var(--son-font-m);
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 400;
    color: var(--son-color-font);
  }

:root {
    /* COLORS */
    --sde-color-white: #FFFFFF;
    --sde-color-sec: #FF8C1D;
    --sde-color-pri: #BA522B;
    --sde-color-bc: #F5F0DD;
    --sde-color-black: #000000;
    --sde-color-font: var(--son-color-black);

    /* FONT SIZES */
    --sde-font-xxxl: 50px;
    --sde-font-xl: 36px;
    --sde-font-l: 25px;
    --sde-font-m: 16px;
    --sde-font-s: 12px;
    --sde-font-xs: 10px;

    /* SPACINGS */

    /* RADIUS */
    --sde-radius-primary: 20px;
    --sde-radius-secundary: 10px;
    --sde-radius-buttons: 5px;

    /* PADDING */
    --sde-padding-xs: 5px;
    --sde-padding-s: 10px;
    --sde-padding-m: 20px;
    --sde-padding-l: 30px;
    --sde-padding-xl: 40px;
    --sde-padding-xxl: 60px;
    --sde-padding-xxxl: 80px;

    /* MARGIN */
    --sde-margin-xs: 5px;
    --sde-margin-s: 10px;
    --sde-margin-m: 20px;
    --sde-margin-l: 30px;
    --sde-margin-xl: 40px;

    /* GAP */
    --sde-gap-s: 10px;
    --sde-gap-m: 15px;
    --sde-gap-l: 20px;
    --sde-gap-xl: 30px;
}